/*DEFAULT FOR ALL DOCUMENT*/

* {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*SIZE AND CENTER POSITON OF APP*/

body {
    margin: 50px auto;
    width: 600px;
    height: 1161px;
}

#whole-page {
    position: relative;
}

/*HEADER*/

header {
    width: 600px;
    height: 167px;
    background-image: url(./img/header.png);
}

/*MENU SECTION*/

.menu-position{
    margin: 0px 25px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  2px solid #D2D2D2;
}

.menu-icons {
    width: 75px;
    height: 75px;
}

.menu-details {
    width: 350px;
} 

.menu-order-btn {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 32px;
}

.position-name {
    font-size: 28px;
    color: green; /* Change color of menu positions for issue #1*/
}

.position-ingredients {
    font-size: 16px;
    color: #8B8B8B;
}

.position-price {
    font-size: 20px;
}

/*ORDER SECTION*/

#client-order {
    margin: 10px auto;
    width: 508px;
    visibility: hidden;
} 

#order-header{
    margin: 40px;
    text-align: center;
    font-size: 28px;
}

.single-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 10px;
}

li {
    list-style: none;
    font-size: 28px;
}

.remove-button {
    cursor: pointer;
    color: #BBBBBB;
    border: none;
    background: white;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid black;
    padding-top: 10px;
}

#price, #price-info {
   font-size: 20px; 
}

#order-total-price {
    font-size: 28px;
}

#complete-order-button, #pay-button {
   width: 508px;
   height: 60px;
   margin: 30px auto;
   background: #16DB99; 
   color: #FFFFFF;
   border: none;
   border-radius: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
}

/*CLIENT FORM*/

#data-form {
    position: fixed;
    top: 250px;
    left:0;
    right:0;
    left:0;
    margin: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 524px;
    height: 470px;
    background: #8B8B8B;
    border-radius: 5px;
    visibility: hidden;
}

h2 {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#client-data {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px auto;
    width: 475px;
    height: 71px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

/*THANKS FOR ORDER*/

#thanks-for-order {
    text-align: center;
    margin: 30px auto;
    padding: 20px 20px;
    width: 504px;
    background-color: #ECFDF5;
    font-size: 32px;

}

